.scheduled-pick-drops {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.scheduled-pick-drops div {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 6px;
}
.completed-pick-drops {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.completed-pick-drops div {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 6px;
}
.denied-picks {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.denied-picks div {
    border: 1px solid #ccc;
    padding: 10px;
}